.dashboard-main{
    margin-top:20px;
    margin-left:20px;
    min-height:792px;
}

.dashboard-brand{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card{
    display: flex;
    width:90%;
    flex-direction: row !important;
}

.dashboard-brand-image{
    max-width: 385px;
    width:60%;
    height:250px;
}

.dashboard-text{
    word-break:break-word;
}

.menu-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
}

@media (max-width:701px){
    .dashboard-card{
        flex-direction: column !important;
    }
    .dashboard-brand-image{
        margin:auto;
        max-width: 450px;
        width:100%;
    }
}

@media (min-width:550px) and (max-width:701px){
    .dashboard-brand-image{
        margin-top:10px
    }
}